**Introduction to Python**: 
This is a basic introduction to python using jupyter notebooks. 
You are going to walk through this example and recreate your own version 
assigning DIFFERENT VARIABLES AND NUMBERS. 
For example: If I write x=2 (to assign a variable) you write something else (e.g., x=1). This is just to get you reading and typing instead of copy & pasting (only ;) )

Please feel free to go ahead, use additional resources, and scrape the Internet for anything you want to bring into your notebook. You can copy the notes (i.e., Markdown cells), add in more, paste hyper links etc. 

If you forget what a function does or what inputs you need, type it out and hit "Shift+tab" while your cursor is on it for tooltips and tab autocomplete.

In [1]:
import pandas as pd

# Variables

A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows,

In [1]:
x = 2
y = 5
xy = 'Hey Big Data Class'

In [3]:
print (x+y), (xy)

7

(None, 'Hey Big Data Class')

Multiple variables can be assigned with the same value.

In [4]:
x = y = 1

In [5]:
print (x,y)

1 1

# Operators

## Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [6]:
1+2

3

In [7]:
2-1

1

In [8]:
1*2

2

In [10]:
1/2

0.5

In [11]:
1/2.0

0.5

In [11]:
15%10

5

Floor division is nothing but converting the result so obtained to the nearest integer.

In [12]:
2.8//2.0

1.0

## Relational Operators

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [12]:
z = 1

In [13]:
z == 1

True

In [14]:
z > 1

False

## Bitwise Operators (we won't cover these beyond this example

| Symbol | Task Performed |
|----|---|
| &  | Logical And |
| l  | Logical OR |
| ^  | XOR |
| ~  | Negate |
| >>  | Right shift |
| <<  | Left shift |

**int( )** accepts two values when used for conversion, one is the value in a different number system and the other is its base. Note that input number in the different number system should be of string type.
int() function in Python and Python3 converts a number in given base to decimal.

Syntax :

int(string, base)

In [16]:
print (int('010',8))
print (int('0xaa',16))
print (int('1010',2))

8
170
10

##

**int( )** can also be used to get only the integer value of a float number or can be used to convert a number which is of type string to integer format. Similarly, the function **str( )** can be used to convert the integer back to string format

In [18]:
print (int(7.7))
print (int('7'))

7
7

**float()** creates a float (decimal, real number)

In [20]:
print (float(69594))
print (float(3))

69594.0
3.0

Also note that function **bin( )** is used for binary and **float( )** for decimal/float values. **chr( )** is used for converting ASCII to its alphabet equivalent, **ord( )** is used for the other way round.

In [22]:
chr(98)

'b'

In [23]:
ord('b')

98

## Simplifying Arithmetic Operations

**round( )** function rounds the input value to a specified number of places or to the nearest integer.

In [25]:
print (round(5.6231)) 
print (round(4.55892, 2))

6
4.56

**complex( )** is used to define a complex number and **abs( )** outputs the absolute value of the same.

In [4]:
c =complex('5+2j')
print (abs(c))

5.385164807134504

**isinstance( )** returns True, if the first argument is an instance of that class. Multiple classes can also be checked at once.

In [5]:
print (isinstance(1, int))
print (isinstance(1.0,int))
print (isinstance(1.0,(int,float)))

True
False
True

**pow(x,y,z)** can be used to find the power $x^y$ also the mod of the resulting value with the third specified number can be found i.e. : ($x^y$ % z).

In [7]:
print (pow(3,3))
print (pow(3,3,5))

27
2

**range( )** function outputs the integers of the specified range. It can also be used to generate a series by specifying the difference between the two numbers within a particular range. The elements are returned in a list (will be discussing in detail later.)

In [8]:
print (range(3))
print (range(2,9))
print (range(2,27,8))

range(0, 3)
range(2, 9)
range(2, 27, 8)

#Print Statement

The **print** statement can be used in the following different ways :

    - print "Hello World"
    - print "Hello", <Variable Containing the String>
    - print "Hello" + <Variable Containing the String>
    - print "Hello %s" % <variable containing the string>

In [9]:
print ("Hello World")

Hello World

In Python, single, double and triple quotes are used to denote a string.
Most use single quotes when declaring a single character. 
Double quotes when declaring a line and triple quotes when declaring a paragraph/multiple lines.

In [10]:
print ('Hey')

Hey

In [12]:
print ("""My name is Mayy

I love Python.""")

My name is Mayy

I love Python.

Strings can be assigned to variable say _string1_ and _string2_ which can called when using the print statement.

In [14]:
string1 = 'World'
print ('Hello', string1)

string2 = '!'
print ('Hello', string1, string2)

Hello World
Hello World !

String concatenation is the "addition" of two strings. Observe that while concatenating there will be no space between the strings.

In [16]:
print ('Hello' + string1 + string2)

HelloWorld!

**%s** is used to refer to a variable which contains a string.

In [17]:
print ("Hello %s" % string1)

Hello World

Similarly, when using other data types

    - %s -> string
    - %d -> Integer
    - %f -> Float
    - %o -> Octal
    - %x -> Hexadecimal
    - %e -> exponential
    
This can be used for conversions inside the print statement itself.

In [19]:
print ("Actual Number = %d" %18)
print ("Float of the number = %f" %18)
print ("Octal equivalent of the number = %o" %18)
print ("Hexadecimal equivalent of the number = %x" %18)
print ("Exponential equivalent of the number = %e" %18)

Actual Number = 18
Float of the number = 18.000000
Octal equivalent of the number = 22
Hexadecimal equivalent of the number = 12
Exponential equivalent of the number = 1.800000e+01

When referring to multiple variables parenthesis is used.

In [20]:
print ("Hello %s %s" %(string1,string2))

Hello World !

## Other Examples

The following are other different ways the print statement can be put to use.

In [21]:
print ("I want %f to be printed %s" % (.7,'here'))

I want 0.700000 to be printed here

In [22]:
print ('_A'*10)

_A_A_A_A_A_A_A_A_A_A

In [23]:
print ("Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [24]:
print ("I want \\n to be printed.")

I want \n to be printed.

In [25]:
print ("""
Routine:
\t- Eat
\t- Sleep\n\t- Repeat
""")

Routine:
	- Eat
	- Sleep
	- Repeat

# Data Structures

In simple terms, It is the the collection or group of data in a particular structure.

## Lists

Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value.

Lists are declared by just equating a variable to '[ ]' or list.

In [26]:
a = []

In [28]:
print (type(a))

<class 'list'>

One can directly assign the sequence of data to a list x as shown.

In [31]:
x = ['apple', 'orange']

### Indexing

In python, Indexing starts from 0. Thus now the list x, which has two elements will have apple at 0 index and orange at 1 index.

In [32]:
x[0]

'apple'

Indexing can also be done in reverse order. That is the last element can be accessed first. Here, indexing starts from -1. Thus index value -1 will be orange and index -2 will be apple.

In [33]:
x[-1]

'orange'

As you might have already guessed, x[0] = x[-2], x[1] = x[-1]. This concept can be extended towards lists with more many elements.

In [34]:
y = ['carrot','potato']

Here we have declared two lists x and y each containing its own data. Now, these two lists can again be put into another list say z which will have it's data as two lists. This list inside a list is called as nested lists and is how an array would be declared which we will see later.

In [35]:
z  = [x,y]
print (z)

[['apple', 'orange'], ['carrot', 'potato']]

Indexing in nested lists can be quite confusing if you do not understand how indexing works in python. So let us break it down and then arrive at a conclusion.

Let us access the data 'apple' in the above nested list.
First, at index 0 there is a list ['apple','orange'] and at index 1 there is another list ['carrot','potato']. Hence z[0] should give us the first list which contains 'apple'.

In [36]:
z1 = z[0]
print (z1)

['apple', 'orange']

Now observe that z1 is not at all a nested list thus to access 'apple', z1 should be indexed at 0.

In [37]:
z1[0]

'apple'

Instead of doing the above, In python, you can access 'apple' by just writing the index values each time side by side.

In [38]:
z[0][0]

'apple'

If there was a list inside a list inside a list then you can access the innermost value by executing z[ ][ ][ ].

### Slicing

Indexing was only limited to accessing a single element, Slicing on the other hand is accessing a sequence of data inside the list. In other words "slicing" the list.

Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as parentlist[ a : b ] where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

In [40]:
num = [0,1,2,3,4,5,6,7,8,9]

In [41]:
print (num[0:4])
print (num[4:])

[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]

You can also slice a parent list with a fixed length or step length.

In [42]:
num[:9:3]

[0, 3, 6]

### Built in List Functions

To find the length of the list or the number of elements in a list, **len( )** is used.

In [43]:
len(num)

10

If the list consists of all integer elements then **min( )** and **max( )** gives the minimum and maximum value in the list.

In [44]:
min(num)

0

In [45]:
max(num)

9

Lists can be concatenated by adding, '+' them. The resultant list will contain all the elements of the lists that were added. The resultant list will not be a nested list.

In [46]:
[1,2,3] + [5,4,7]

[1, 2, 3, 5, 4, 7]

There might arise a requirement where you might need to check if a particular element is there in a predefined list. Consider the below list.

In [47]:
names = ['Earth','Wind','Fire','Water']

To check if 'Fire' and 'Matthew' is present in the list names. A conventional approach would be to use a for loop and iterate over the list and use the if condition. But in python you can use 'a in b' concept which would return 'True' if a is present in b and 'False' if not.

In [48]:
'Fire' in names

True

In [49]:
'Matthew' in names

False

In a list with elements as string, **max( )** and **min( )** is applicable. **max( )** would return a string element whose ASCII value is the highest and the lowest when **min( )** is used. Note that only the first index of each element is considered each time and if they value is the same then second index considered so on and so forth.

In [50]:
mlist = ['bzaa','ds','nc','az','z','klm']

In [52]:
print (max(mlist))
print (min(mlist))

z
az

Here the first index of each element is considered and thus z has the highest ASCII value thus it is returned and minimum ASCII is a. But what if numbers are declared as strings?

In [54]:
nlist = ['1','94','93','1000']

In [55]:
print (max(nlist))
print (min(nlist))

94
1

Even if the numbers are declared in a string the first index of each element is considered and the maximum and minimum values are returned accordingly.

But if you want to find the **max( )** string element based on the length of the string then another parameter 'key=len' is declared inside the **max( )** and **min( )** function.

In [56]:
print (max(names, key=len))
print (min(names, key=len))

Earth
Wind

But even 'Water' has length 5. **max()** or **min()** function returns the first element when there are two or more elements with the same length.

Any other built in function can be used or lambda function (will be discussed later) in place of len.

A string can be converted into a list by using the **list()** function.

In [57]:
list('hello')

['h', 'e', 'l', 'l', 'o']

**append( )** is used to add a element at the end of the list.

In [58]:
lst = [1,1,4,8,7]

In [59]:
lst.append(1)
print (lst)

[1, 1, 4, 8, 7, 1]

**count( )** is used to count the number of a particular element that is present in the list.

In [60]:
lst.count(1)

3

**append( )** function can also be used to add a entire list at the end. Observe that the resultant list becomes a nested list.

In [61]:
lst1 = [5,4,2,8]

In [63]:
lst.append(lst1)
print (lst)

[1, 1, 4, 8, 7, 1, [5, 4, 2, 8]]

But if nested list is not what is desired then **extend( )** function can be used.

In [64]:
lst.extend(lst1)
print (lst)

[1, 1, 4, 8, 7, 1, [5, 4, 2, 8], 5, 4, 2, 8]

**index( )** is used to find the index value of a particular element. Note that if there are multiple elements of the same value then the first index value of that element is returned.

In [65]:
lst.index(1)

0

**insert(x,y)** is used to insert a element y at a specified index value x. **append( )** function made it only possible to insert at the end.

In [66]:
lst.insert(5, 'name')
print (lst)

[1, 1, 4, 8, 7, 'name', 1, [5, 4, 2, 8], 5, 4, 2, 8]

**insert(x,y)** inserts but does not replace element. If you want to replace the element with another element you simply assign the value to that particular index.

In [67]:
lst[5] = 'Python'
print (lst)

[1, 1, 4, 8, 7, 'Python', 1, [5, 4, 2, 8], 5, 4, 2, 8]

**pop( )** function return the last element in the list. This is similar to the operation of a stack. Hence it wouldn't be wrong to tell that lists can be used as a stack.

In [68]:
lst.pop()

8

Index value can be specified to pop a ceratin element corresponding to that index value.

In [69]:
lst.pop(0)

1

**pop( )** is used to remove element based on it's index value which can be assigned to a variable. One can also remove element by specifying the element itself using the **remove( )** function.

In [71]:
lst.remove('Python')
print (lst)

[1, 4, 8, 7, 1, [5, 4, 2, 8], 5, 4, 2]

Alternative to **remove** function but with using index value is **del**

In [72]:
del lst[1]
print (lst)

[1, 8, 7, 1, [5, 4, 2, 8], 5, 4, 2]

The entire elements present in the list can be reversed by using the **reverse()** function.

In [76]:
lst.reverse()
print (lst)

[1, 8, 7, 1, [5, 4, 2, 8], 5, 4, 2]

Note that the nested list [5,4,2,8] is treated as a single element of the parent list lst. Thus the elements inside the nested list is not reversed.

Python offers built in operation **sort( )** to arrange the elements in ascending order.

In [79]:
lstx =[3,6,2,4,1,9]
lstx.sort()
print (lstx)

[1, 2, 3, 4, 6, 9]

For descending order, By default the reverse condition will be False for reverse. Hence changing it to True would arrange the elements in descending order.

In [80]:
lstx.sort(reverse=True)
print (lstx)

[9, 6, 4, 3, 2, 1]

Similarly for lists containing string elements, **sort( )** would sort the elements based on it's ASCII value in ascending and by specifying reverse=True in descending.

In [81]:
names.sort()
print (names)
names.sort(reverse=True)
print (names)

['Earth', 'Fire', 'Water', 'Wind']
['Wind', 'Water', 'Fire', 'Earth']

To sort based on length key=len should be specified as shown.

In [82]:
names.sort(key=len)
print (names)
names.sort(key=len,reverse=True)
print (names)

['Wind', 'Fire', 'Water', 'Earth']
['Water', 'Earth', 'Wind', 'Fire']

### Copying a list

Most of the new python programmers commit this mistake. Consider the following,

In [83]:
lista= [2,1,4,3]

In [84]:
listb = lista
print (listb)

[2, 1, 4, 3]

Here, We have declared a list, lista = [2,1,4,3]. This list is copied to listb by assigning it's value and it get's copied as seen. Now we perform some random operations on lista.

In [85]:
lista.pop()
print (lista)
lista.append(9)
print (lista)

[2, 1, 4]
[2, 1, 4, 9]

In [86]:
print (listb)

[2, 1, 4, 9]

listb has also changed though no operation has been performed on it. This is because you have assigned the same memory space of lista to listb. So how do fix this?

If you recall, in slicing we had seen that parentlist[a:b] returns a list from parent list with start index a and end index b and if a and b is not mentioned then by default it considers the first and last element. We use the same concept here. By doing so, we are assigning the data of lista to listb as a variable.

In [89]:
lista = [2,1,4,3]

In [90]:
listb = lista[:]
print (listb)

[2, 1, 4, 3]

In [91]:
lista.pop()
print (lista)
lista.append(9)
print (lista)

[2, 1, 4]
[2, 1, 4, 9]

In [92]:
print (listb)

[2, 1, 4, 3]

##Tuples

Tuples are similar to lists but only big difference is the elements inside a list can be changed but in tuple it cannot be changed. Think of tuples as something which has to be True for a particular something and cannot be True for no other values. For better understanding, Recall **divmod()** function.

In [99]:
xyz = divmod(10,3)
print (xyz)
print (type(xyz))

(3, 1)
<class 'tuple'>

Here the quotient has to be 3 and the remainder has to be 1. These values cannot be changed whatsoever when 10 is divided by 3. Hence divmod returns these values in a tuple.

To define a tuple, A variable is assigned to paranthesis ( ) or tuple( ).

In [100]:
tup = ()
tup2 = tuple()

If you want to directly declare a tuple it can be done by using a comma at the end of the data.

In [101]:
27,

(27,)

27 when multiplied by 2 yields 54, But when multiplied with a tuple the data is repeated twice.

In [116]:
a = 2*(27,)
print(a)
print(type(a))

(27, 27)
<class 'tuple'>

Values can be assigned while declaring a tuple. It takes a list as input and converts it into a tuple or it takes a string and converts it into a tuple.

In [105]:
tup3 = tuple([1,2,3])
print (tup3)
tup4 = tuple('Hello')
print (tup4)

(1, 2, 3)
('H', 'e', 'l', 'l', 'o')

It follows the same indexing and slicing as Lists.

In [106]:
print (tup3[1])
tup5 = tup4[:3]
print (tup5)

2
('H', 'e', 'l')

### Mapping one tuple to another

In [108]:
(a,b,c)= ('alpha','beta','gamma')

In [109]:
print (a,b,c)

alpha beta gamma

In [120]:
d = tuple('Mynameisy')
print (d)

('M', 'y', 'n', 'a', 'm', 'e', 'i', 's', 'y')

### Built In Tuple functions

**count()** function counts the number of specified element that is present in the tuple.

In [121]:
d.count('y')

2

**index()** function returns the index of the specified element. If the elements are more than one then the index of the first element of that specified element is returned

In [122]:
d.index('a')

3

##Sets

Sets are mainly used to eliminate repeated numbers in a sequence/list. It is also used to perform some standard set operations.

Sets are declared as set() which will initialize a empty set. Also set([sequence]) can be executed to declare a set with elements

In [124]:
set1 = set()
print (type(set1))

<class 'set'>

In [127]:
set0 = set([1,2,2,3,3,4])
print (set0)

{1, 2, 3, 4}

elements 2,3 which are repeated twice are seen only once. Thus in a set each element is distinct.

### Built-in Functions

In [155]:
set1 = set([1,2,3])

In [132]:
set2 = set([2,3,4,5])

**union( )** function returns a set which contains all the elements of both the sets without repition.

In [134]:
set1.union(set2)

{1, 2, 3, 4, 5}

**add( )** will add a particular element into the set. Note that the index of the newly added element is arbitrary and can be placed anywhere not neccessarily in the end.

In [151]:
set1.add(0)
set1

{0, 1, 2, 3}

**intersection( )** function outputs a set which contains all the elements that are in both sets.

In [136]:
set1.intersection(set2)

{2, 3}

**difference( )** function ouptuts a set which contains elements that are in set1 and not in set2.

In [140]:
set1.difference(set2)

{0, 1}

**symmetric_difference( )** function ouputs a function which contains elements that are in one of the sets.

In [138]:
set2.symmetric_difference(set1)

{0, 1, 4, 5}

**issubset( ), isdisjoint( ), issuperset( )** is used to check if the set1/set2 is a subset, disjoint or superset of set2/set1 respectively.

In [141]:
set1.issubset(set2)

False

In [142]:
set2.isdisjoint(set1)

False

In [143]:
set2.issuperset(set1)

False

**pop( )** is used to remove an arbitrary element in the set, You may get difference output as pop() returns and removes a random element. Every element poped is removed from the original set.

In [152]:
set1.pop()
print (set1)

{1, 2, 3}

**remove( )** function deletes the specified element from the set.

In [156]:
set1.remove(2)
set1

{1, 3}

**clear( )** is used to clear all the elements and make that set an empty set.

In [157]:
set1.clear()
set1

set()

# Control Flow Statements

## If

if some_condition:
    
    algorithm

In [158]:
x = 12
if x >10:
    print ("Hello")

Hello

## If-else

if some_condition:
    
    algorithm
    
else:
   
    algorithm

In [159]:
x = 12
if x > 10:
    print ("hello")
else:
    print ("world")

hello

## if-elif

if some_condition:
    
    algorithm

elif some_condition:
    
    algorithm

else:
    
    algorithm

In [160]:
x = 10
y = 12
if x > y:
    print ("x>y")
elif x < y:
    print ("x<y")
else:
    print ("x=y")

x<y

if statement inside a if statement or if-elif or if-else are called as nested if statements.

In [161]:
x = 10
y = 12
if x > y:
    print ("x>y")
elif x < y:
    print ("x<y")
    if x==10:
        print ("x=10")
    else:
        print ("invalid")
else:
    print ("x=y")

x<y
x=10

## Loops

### For

for variable in something:
    
    algorithm

In [162]:
for i in range(5):
    print (i)

0
1
2
3
4

In the above example, i iterates over the 0,1,2,3,4. Every time it takes each value and executes the algorithm inside the loop. It is also possible to iterate over a nested list illustrated below.

In [163]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists:
        print (list1)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

A use case of a nested for loop in this case would be,

In [164]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists:
    for x in list1:
        print (x)

1
2
3
4
5
6
7
8
9

### While

while some_condition:
    
    algorithm

In [165]:
i = 1
while i < 3:
    print(i ** 2)
    i = i+1
print('Bye')

1
4
Bye

## Break

As the name says. It is used to break out of a loop when a condition becomes true when executing the loop.

In [166]:
for i in range(100):
    print (i)
    if i>=7:
        break

0
1
2
3
4
5
6
7

## Continue

This continues the rest of the loop. Sometimes when a condition is satisfied there are chances of the loop getting terminated. This can be avoided using continue statement.

In [168]:
for i in range(10):
    if i>4:
        print ("The end.")
        continue
    elif i<7:
        print (i)

0
1
2
3
4
The end.
The end.
The end.
The end.
The end.

## List Comprehensions

Python makes it simple to generate a required list with a single line of code using list comprehensions. For example If i need to generate multiples of say 27 I write the code using for loop as,

In [169]:
res = []
for i in range(1,11):
    x = 27*i
    res.append(x)
print (res)

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

Since you are generating another list altogether and that is what is required, List comprehensions is a more efficient way to solve this problem.

In [170]:
[27*x for x in range(1,11)]

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

That's it!. Only remember to enclose it in square brackets

Understanding the code, The first bit of the code is always the algorithm and then leave a space and then write the necessary loop. But you might be wondering can nested loops be extended to list comprehensions? Yes you can.

In [171]:
[27*x for x in range(1,20) if x<=10]

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

Let me add one more loop to make you understand better,

In [173]:
[27*z for i in range(50) if i==27 for z in range(1,11)]

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]