# Working on Lists - it has much functionality than Sets and Tuples

In [1]:
# working on lists, we use square bracket [] to create lists and seperated by commas

courses = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']
print(courses)

['History', 'Mathematics', 'Physics', 'Chemistry', 'CompSci']

In [2]:
# to identify number of variables there, we use len()
print(len(courses))

5

In [3]:
#Accessing each variable using index [], it start with 0
print(courses[0])

History

In [5]:
# to physical count the index 0 - history, 1 - mathematics, 2- physics, 3 - chemistry, 4 - CompSci
print(courses[4])

CompSci

In [14]:
# getting the last item of the list using -1
print(courses[-1])
#or
print(courses[-2])

CompSci
Chemistry

In [15]:
print(courses[5]) #item that does not exist will result in error

IndexError: list index out of range

In [10]:
print(courses[0:2])
print(courses[:2])
print(courses[2:]) # refer to as slicing

['History', 'Mathematics']
['History', 'Mathematics']
['Physics', 'Chemistry', 'CompSci']

In [19]:
# to add an item to the end of the lists, we can use append() function

courses = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']

courses.append('Art')

print(courses)

['History', 'Mathematics', 'Physics', 'Chemistry', 'CompSci', 'Art']

In [29]:
#insert () function can be used to insert, it takes two value, the 'place you want to insert new value' and 'the value itself'

courses = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']
courses.insert(0,'Art')
print(courses)

['Art', 'History', 'Mathematics', 'Physics', 'Chemistry', 'CompSci']

In [30]:

courses = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']
courses.insert(1, 'Art')
print(courses)

['History', 'Art', 'Mathematics', 'Physics', 'Chemistry', 'CompSci']

In [36]:
# to add more values to the list, we use 'extend' when we have multiple values to add to the list
#let say we have another set of values in courses_2

courses = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']

courses_2 = ['Art', 'Engineering', 'Education']
courses.insert(0, courses_2)
print(courses)
print(courses[0])

[['Art', 'Engineering', 'Education'], 'History', 'Mathematics', 'Physics', 'Chemistry', 'CompSci']
['Art', 'Engineering', 'Education']

In [37]:
#then using the extend() function which only takes one/single value, we allow us to list all the courses
courses = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']
courses_2 = ['Art', 'Engineering', 'Education']

courses.extend(courses_2)
print(courses)

['History', 'Mathematics', 'Physics', 'Chemistry', 'CompSci', 'Art', 'Engineering', 'Education']

In [45]:
#Append () and extend() are different, Append will put the list inside the list while extend list all the values
courses = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']
courses_2 = ['Art', 'Engineering', 'Education']

courses.append(courses_2)
print(courses)

['History', 'Mathematics', 'Physics', 'Chemistry', 'CompSci', ['Art', 'Engineering', 'Education']]

In [46]:
courses = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']
courses_2 = ['Art', 'Engineering', 'Education']
courses.extend(courses_2)
print(courses)

['History', 'Mathematics', 'Physics', 'Chemistry', 'CompSci', 'Art', 'Engineering', 'Education']

In [48]:
# To remove values from the list, we caan use remove() function
courses = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']

courses.remove('Mathematics')
print(courses)

['History', 'Physics', 'Chemistry', 'CompSci']

In [49]:
#Another ways to remove value from the list is using pop() function, by default it will remove the last value from the lists
courses = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']

courses.pop() # by default CompSci has been removed
print(courses)

['History', 'Mathematics', 'Physics', 'Chemistry']

In [52]:
#The value pop() removed can be returned by setting a variable as popped

courses = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']

popped = courses.pop()
print(courses)
print(popped)

['History', 'Mathematics', 'Physics', 'Chemistry']
CompSci

In [55]:
#the list of item can be reverse, 

courses = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']
courses.reverse()       # started from the last item in the list to the first item in reverse order
print(courses)

['CompSci', 'Chemistry', 'Physics', 'Mathematics', 'History']

In [57]:
# using sort() function to sort values

courses = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']

courses.sort()          # it sort the list in alphabetical order
print(courses)

['Chemistry', 'CompSci', 'History', 'Mathematics', 'Physics']

In [58]:
# this can work for number as well, sort() function sort the number in ascending order from 1 to 10
num = [1, 3, 2, 7, 5, 6, 9, 10, 4]

num.sort()
print(num)

[1, 2, 3, 4, 5, 6, 7, 9, 10]

In [65]:
# to sort value in decending order, we need to add reverse() function to sort () function

num = [1, 3, 2, 7, 5, 6, 9, 10, 4]

num.sort(reverse= True)
print(num)

#also in ascending order

num = [1, 3, 2, 7, 5, 6, 9, 10, 4]

num.sort(reverse=False)
print(num)

[10, 9, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 9, 10]

In [67]:
# To return sorted version of the list, we can use sorted()

courses = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']
sorted(courses)
print(courses)

['History', 'Mathematics', 'Physics', 'Chemistry', 'CompSci']

In [68]:
# Wanting to sorted the value, want the sorted version of the list withour altering the oringinal version of the lists
courses = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']
sorted_courses = sorted(courses)   #print it out in aphabetical order
print(sorted_courses)

['Chemistry', 'CompSci', 'History', 'Mathematics', 'Physics']

In [69]:
# some other built in functions such as min, max and sum
num = [1, 3, 2, 7, 5, 6, 9, 10, 4]
print(min(num))

1

In [70]:
print(max(num))

10

In [71]:
print(sum(num))

47

In [72]:
# Finding index of a certain value then we can use index [] functions
courses = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']
print(courses.index('Chemistry'))

3

In [73]:
# To check value not in the list, we will get error
courses = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']
print(courses.index('Art'))

ValueError: 'Art' is not in list

In [76]:
# to check if the value is in the list to get a 'true' or 'false'
courses = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']
print('Mathematic' in courses)             # this will be useful in if else and conditional statement

False

In [83]:
courses = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']

for course in courses:
    print(course)   # we be useful in conditional statement

History
Mathematics
Physics
Chemistry
CompSci

In [84]:
# we can acess the index and value using enumerate() function.it return the index and the value

courses = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']

for course in enumerate(courses):
    print(course) 
# To remove the bracket, apply index, course

(0, 'History')
(1, 'Mathematics')
(2, 'Physics')
(3, 'Chemistry')
(4, 'CompSci')

In [86]:
# To remove the bracket and return both index and values

courses = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']

for index, course in enumerate(courses):
    print(index, course)   #we have access to each index and value

0 History
1 Mathematics
2 Physics
3 Chemistry
4 CompSci

In [87]:
# if we dont want the index start at zero, we can pass start 1 to the enumerate() function

courses = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']

for index, course in enumerate(courses, start = 1):
    print(index, course)

1 History
2 Mathematics
3 Physics
4 Chemistry
5 CompSci

In [88]:
# Ways to turn list to string separated by certain values - 
#for example, let say we want to turn the list of courses to string comma separated value using join () functions

courses = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']
course_str = ', '. join(courses)     # ', ' with space allow each course to have space after comma
print(course_str)

History, Mathematics, Physics, Chemistry, CompSci

In [92]:
course_str = ','. join(courses)     # ',' without space allows each course to have no space after comma 
print(course_str)

History,Mathematics,Physics,Chemistry,CompSci

In [93]:
courses = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']
course_str = ' - '. join(courses) # space in the ' - ' hypen. 
print(course_str)

History - Mathematics - Physics - Chemistry - CompSci

In [94]:
# To reverse it back to the original list by using split () function
courses = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']
course_str = ' - '. join(courses)

new_list = course_str.split(' - ')
print(course_str)
print(new_list)

History - Mathematics - Physics - Chemistry - CompSci
['History', 'Mathematics', 'Physics', 'Chemistry', 'CompSci']

In [13]:
#slicing list using index example. 

x = [['a', 'b', 'c'],
     ['d', 'e', 'f'],
     ['g', 'h', 'i']]
x[2][0]
x[2][:2]

['g', 'h']

In [21]:
#deleting from list or a list
fam = ["hello", 1.22, "liz", 1.32, "tune", 1.45, "weee", 1.99]

In [22]:
del(fam[2])

In [23]:
fam

# use can also use print(fam)

['hello', 1.22, 1.32, 'tune', 1.45, 'weee', 1.99]

In [24]:
del(fam[4:6]) #delete one list altogether "tune" and 21.45"

In [25]:
print(fam)

['hello', 1.22, 1.32, 'tune', 1.99]

In [26]:
del(fam[2])

In [27]:
fam

['hello', 1.22, 'tune', 1.99]

# Tuples and Sets

Tuples are similar to list with one major difference, we can modify value in Tuples as compared to Lists, in programming this is called immutable (i.e. cannot be change over time), while List is mutable (i.e. Can be change)

In [95]:
# issues that might occur with mutable variables or lists

list_of_courses_1 = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']
list_of_courses_2 = list_of_courses_1 

print(list_of_courses_1)
print(list_of_courses_2)

['History', 'Mathematics', 'Physics', 'Chemistry', 'CompSci']
['History', 'Mathematics', 'Physics', 'Chemistry', 'CompSci']

In [96]:
# we change or modify value in the list using index
list_of_courses_1 = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']
list_of_courses_2 = list_of_courses_1 

list_of_courses_1[0] = 'Art'  # it will give same output result for list_of_courses_2 because they are both mutable values

print(list_of_courses_1)
print(list_of_courses_2)

['Art', 'Mathematics', 'Physics', 'Chemistry', 'CompSci']
['Art', 'Mathematics', 'Physics', 'Chemistry', 'CompSci']

In [99]:
list_of_courses_1 = ['History', 'Mathematics','Physics', 'Chemistry', 'CompSci']
list_of_courses_2 = list_of_courses_1 

list_of_courses_1[1] = 'Art'  # it will give same output result for list_of_courses_2 because they are both mutable values

print(list_of_courses_1)
print(list_of_courses_2)

['History', 'Art', 'Physics', 'Chemistry', 'CompSci']
['History', 'Art', 'Physics', 'Chemistry', 'CompSci']

# Tuples examples - Immutable values
In turples will use paranthesis ( ) not [ ]

In [104]:
turple_1 = ('History', 'Mathematics','Physics', 'Chemistry', 'CompSci')
turple_2 = turple_1 

print(turple_1)
print(turple_2)
print(type(turple_1))

('History', 'Mathematics', 'Physics', 'Chemistry', 'CompSci')
('History', 'Mathematics', 'Physics', 'Chemistry', 'CompSci')
<class 'tuple'>

In [102]:
# if we try to change the value, as we did in the list_courses_1 in example above to 'Art', we will recorded error

turple_1 = ('History', 'Mathematics','Physics', 'Chemistry', 'CompSci')
turple_2 = turple_1 

turple_1[0] = 'Art'

print(turple_1)
print(turple_2)

TypeError: 'tuple' object does not support item assignment

# The same function that we have used for list can be used for turple, but you can change the value, it will give error

In [106]:
d = tuple('mynameisy')
print(d)

('m', 'y', 'n', 'a', 'm', 'e', 'i', 's', 'y')

In [107]:
d.count('y')

2

In [109]:
d.index('a')

3

In [110]:
(a, b, c) = ('abel', 'cane', 'paul')
print(a,b,c)

abel cane paul

# Sets are value that are unorder and no duplicate
sets dont care about order, unlike lists and turple, the order varies at each excution or run. it is uses { } . It assist to throw away duplicate values and test is a value is part of a set

In [120]:
cs_courses = {'History', 'Mathematics','Physics', 'Chemistry', 'CompSci'}

print(cs_courses)

{'Chemistry', 'History', 'CompSci', 'Mathematics', 'Physics'}

In [122]:
#if I introduce another value to the list that is same value, sets will ignore the value since we have one already
cs_courses = {'History', 'Mathematics','Physics', 'Chemistry', 'CompSci', 'Mathematics'}

print(cs_courses)

{'Chemistry', 'History', 'CompSci', 'Mathematics', 'Physics'}

In [123]:
# 'Art is introduced and it print this because it is not part of the list before
cs_courses = {'History', 'Mathematics','Physics', 'Chemistry', 'CompSci', 'Art'} 

print(cs_courses)

{'Chemistry', 'History', 'Art', 'CompSci', 'Mathematics', 'Physics'}

In [130]:
# since it didnt print 'mathematics' when introduced the other time, but set allows this to be ask
cs_courses = {'History', 'Mathematics','Physics', 'Chemistry', 'CompSci', 'Mathematics', 'History'} 

print('Mathematics' in cs_courses)

print('Art' in cs_courses)

print('Physics' in cs_courses)
print('History' in cs_courses)

True
False
True
True

In [132]:
# created another set of course as another varibales and use sets to find the courses they have in common
# using intersection () function

cs_courses = {'History', 'Mathematics', 'Physics', 'CompSci'}
art_courses = {'History', 'Mathematics', 'Art', 'Design'}

print(cs_courses.intersection(art_courses))

{'Mathematics', 'History'}

In [133]:
# To check the list of courses in cs_courses and not in art_courses using difference function 
cs_courses = {'History', 'Mathematics', 'Physics', 'CompSci'}
art_courses = {'History', 'Mathematics', 'Art', 'Design'}

print(cs_courses.difference(art_courses))

{'CompSci', 'Physics'}

In [134]:
#To print all the course and combine both cs_courses and art_courses using union() function
cs_courses = {'History', 'Mathematics', 'Physics', 'CompSci'}
art_courses = {'History', 'Mathematics', 'Art', 'Design'}

print(cs_courses.union(art_courses))

{'History', 'Art', 'CompSci', 'Design', 'Mathematics', 'Physics'}

In [150]:
#clear( ) is used to clear all the elements and make that set an empty set.
cs_courses = {'History', 'Mathematics', 'Physics', 'CompSci'}

cs_courses.clear()
print(cs_courses)

set()

# Creating empty List, Turple and Sets

In [ ]:
# empty lists
empty_list = []
emply_list = list()

#empty turples
empty_turple = ()
empty_turple = turple()

#empty sets
empty_set = {} # this isn't right, it's a dictionaries
empty_set = set()